<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> id: </b></label> {{employee.id}}
    </div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Phone Number: </b></label> {{employee.phoneNumber}}
    </div>
    <div>
        <label> <b> Address: </b></label> {{employee.address}}
    </div>
    <div>
        <label> <b> Phone Number: </b></label> {{employee.phoneNumber}}
    </div>
    <div>
        <label> <b> email: </b></label> {{employee.email}}
    </div>
    <div>
        <label> <b> Salary: </b></label> {{employee.salary}}
    </div>
    <div>
        <label> <b> Position: </b></label> {{employee.position}}
    </div>
</div>
